body, div, h1, h2, h3, h4, h5, h6, p, ul, img {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Georgia, serif;
}

h1 {
    font: italic bold 30px Georgia, serif;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    line-height: normal;
}

h2 {
    font: italic bold 25px Georgia, serif;
    text-align: left;
    text-decoration: none;
    color: #e32434;
    line-height: normal;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.percentDiscount30 {
    position: relative;
    float: left
}

.percentDiscount30:after {
    background-image: url(images/percent_discount_160x150.png);
    width: 160px;
    height: 146px;
    display: block;
    content: ' ';
    position: absolute;
    top: -10px;
    left: 5px;
}

.discountItem {
    position: relative;
    float: left
}

.discountItem:after {
    background-image: url(images/115_candy_121x121.png);
    width: 121px;
    height: 121px;
    display: block;
    content: ' ';
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.smallDiscountItem {
    position: relative;
    float: left
}

.smallDiscountItem:after {
    background-image: url(images/candy_60x52.png);
    width: 60px;
    height: 52px;
    display: block;
    content: ' ';
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.formRow {
    height: 35px;
    padding-left: 4px;
    padding-top: 20px;
}

.formLabel {
    width: 120px;
    text-align: left;
    color: #737373;
    font-size: 18px;
    float: left;
    height: 100%;
    padding-top: 5px;
}

.formField {
    float: left;
}

.formField input {
    width: 305px;
}

.button {
    padding-top: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    height: 25px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    border: 1px solid #cccccc;
    border-radius: 6px;
    color: #333333;
    font-style: italic;
    font-weight: bold;
    background: #f7eea6 none repeat scroll left top;
}

.horizontalLine {
    font-size: 1px;
    overflow: hidden;
    float: left;
    line-height: 1px;
    width: 100%;
    padding: 0;
    background: transparent;
    margin: 1px 0 0 0;
    height: 1px;
    border-top: 1px solid #ffe992;
}

.verticalDashedLine {
    font-size: 1px;
    overflow: hidden;
    line-height: 1px;
    padding: 0;
    background: transparent;
    float: left;
    width: 1px;
    border-left: 3px dashed #f59403;
    margin: 5px 0 5px 0;
    height: 95%;
}

.infoBlock {
    float: left;
    margin-top: 15px;
}

.infoBlock h2 {
    float: none;
    margin-left: 40px;
    color: #D84436;
}

.infoBlock li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.infoDescription {
    padding-left: 20px;
    margin-top: 20px;
}

.goodsBackground {
    float: left;
    width: 100%;
    padding-bottom: 25px;
    background: #ffe992;
    border: 0px solid #000000;
    opacity: 1;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
}

.item {
    float: left;
    text-align: left;
    width: 430px;
    padding-left: 40px;
}

.itemTitle {
    font: normal normal 24px Georgia, serif;
    vertical-align: middle;
    height: 65px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    font-style: italic;
    color: #d84436;
    padding: 0px 0px 0px 0px;
}

.itemTitle span {
    /*float: left;*/
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-left: -190px;
}

.itemImg {
    float: left;
    padding-left: 25px;
}

.itemDescription {
    /*float: left;*/
    padding-left: 230px;
    line-height: 130%;
    height: 150px;
}

.itemPrice {
    /*float: left;*/
    padding-left: 230px;
    margin-top: 25px;
}

.buyButton {
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    height: 25px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    border: 1px solid #cccccc;
    border-radius: 6px;
    color: #333333;
    font-style: italic;
    font-weight: bold;
    background: #fff94c none repeat scroll left top;
}

.buyButtonSimple {
    background: #fdffcd;
}

input.error, textarea.error {
    border-color: #973d3d;
    border-style: solid;
    background: #f0bebe;
    color: #a35959;
}

input.error:focus, textarea.error:focus {
    border-color: #973d3d;
    color: #a35959;
}

#header {
    height: 100px;
    background: transparent url(images/header.png) no-repeat scroll center top;
    width: 960px;
    padding-top: 10px;
    padding-bottom: 0;
    margin: 0;
}

#main {
    background: transparent url(images/delicious_bcgr.jpg) no-repeat scroll center top;
}

#logo {
    background: url(images/delicious_logo_2.png) no-repeat;
    margin-left: 35px;
    width: 55px;
    height: 60px;
    float: left;
}

#logo h1 {
    text-indent: -9999px;
}

#tagline {
    margin-left: 10px;
    margin-top: 30px;
    float: left;
}

#contact {
    float: right;
    margin-right: 20px;
}

#phone {
    font: italic bold 30px Georgia, serif;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    line-height: normal;
}

#email {
    font: italic 15px Georgia, serif;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    line-height: normal;
}

#reverseCall {
    float: right;
    width: 244px;
    margin-right: 20px;
}

#orderDiscountItemForm {
    float: left;
}

#discountTitle {
    float: left;
    margin-left: -320px;
    margin-top: 15px;
}

#orderDiscountItemTitle h2 {
    font-weight: normal;
    font-size: 30px;
    color: #D84436;
    margin-left: 20px;
}

#successOrderBlock {
    background: #b9ff99;
    border: 0px none #C0C0C0;
    opacity: 0.95;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    width: 830px;
    height: 67px;
}

#successOrderBlock p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

#successOrderBlockLink {
    color: rgb(0, 136, 204);
    text-decoration: none;
}

#discountForm {
    background-color: #e9ebd9;
    border: 5px solid #fa6023;
    opacity: 0.95;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    width: 450px;
    height: 210px;
    margin-top: 10px;
}

#info {
    background: #ffe992;
    border: 0px solid #000000;
    opacity: 1;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    height: 220px;
    width: 100%;
}

#inlineOrderForm {
    display: none;
    width: 550px;
    height: 300px;
}

#inlineOrderForm span {
    float: left;
}

#inlineOrderForm form {
    float: left;
}

.orderFormLabel {
    display: inline-block;
    width: 150px;
}

#inlineOrderForm input {
    width: 350px;
}

.txtarea {
    display: block;
    resize: none;
    color: #676767;
    font-family: Arial, Tahoma, sans-serif;
    margin-bottom: 10px;
    width: 400px;
    height: 100px;
    padding: 5px 9px;
    font-size: 1.2em;
    line-height: 1.4em;
}

#sendButton {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    height: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    border: 1px solid #cccccc;
    border-radius: 6px;
    color: #333333;
    font-style: italic;
    font-weight: bold;
    background: #fa6023 none repeat scroll left top;
}

#footer p {
    text-align: center;
}