body, div, h1, h2, h3, h4, h5, h6, p, ul, img {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Georgia, serif;
}

h1 {
    font: italic bold 30px Georgia, serif;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    line-height: normal;
}

h2 {
    font: italic bold 25px Georgia, serif;
    text-align: left;
    text-decoration: none;
    color: #e32434;
    line-height: normal;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.percentDiscount30 {
    position: relative;
    float: left
}

.percentDiscount30:after {
    background-image: url(images/percent_discount_160x150.png);
    width: 160px;
    height: 146px;
    display: block;
    content: ' ';
    position: absolute;
    top: -10px;
    left: 5px;
}

.discountItem {
    position: relative;
    float: left
}

.discountItem:after {
    background-image: url(images/candy_121x121.png);
    width: 121px;
    height: 121px;
    display: block;
    content: ' ';
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.smallDiscountItem {
    position: relative;
    float: left
}

.smallDiscountItem:after {
    background-image: url(images/candy_60x52.png);
    width: 60px;
    height: 52px;
    display: block;
    content: ' ';
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.formRow {
    height: 35px;
    padding-left: 4px;
    padding-top: 20px;
}

.formLabel {
    width: 120px;
    text-align: left;
    color: #737373;
    font-size: 18px;
    float: left;
    height: 100%;
    padding-top: 5px;
}

.formField {
    float: left;
}

.formField input {
    width: 305px;
}

.button {
    padding-top: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    height: 25px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    border: 1px solid #cccccc;
    border-radius: 6px;
    color: #333333;
    font-style: italic;
    font-weight: bold;
    background: #f7eea6 none repeat scroll left top;
}

#header {
    height: 100px;
    background: transparent url(images/header.png) no-repeat scroll center top;
    width: 960px;
    padding-top: 10px;
    padding-bottom: 0;
    margin: 0;
}

#main {
    background: transparent url(images/delicious_bcgr.jpg) no-repeat scroll center top;
}

#logo {
    background: url(images/delicious_logo_2.png) no-repeat;
    margin-left: 35px;
    width: 55px;
    height: 60px;
    float: left;
}

#logo h1 {
    text-indent: -9999px;
}

#tagline {
    margin-left: 10px;
    margin-top: 30px;
    float: left;
}

#contact {
    float: right;
    margin-right: 20px;
}

#phone {
    font: italic bold 30px Georgia, serif;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    line-height: normal;
}

#email {
    font: italic 15px Georgia, serif;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    line-height: normal;
}

#reverseCall {
    float: right;
    width: 244px;
    margin-right: 20px;
}

#orderDiscountItemForm {
    float: left;
}

#discountTitle {
    float: left;
    margin-left: -320px;
    margin-top: 15px;
}

#orderDiscountItemTitle h2 {
    font-weight: normal;
    font-size: 30px;
    color: #D84436;
    margin-left: 20px;
}

#discountForm {
    background-color: #e9ebd9;
    border: 5px solid #fa6023;
    opacity: 0.95;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    width: 450px;
    height: 210px;
    margin-top: 10px;
}